*{ 
    padding: 0;
    margin: 0;
    box-sizing: 0; 
    /* Jeg skriver dette for å resette den universelle padding og margin størrelsen. Box sizing gjør slik at margin/padding blir en del av størrelsen på boksen */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    min-height: 100vh;
}

.container{
    
    margin: 0%;
}

.header{
    text-align: center;
    background-color: pink;
    margin-bottom: 20px;
    border-radius: 25px;
}

.All-statestikk{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.statestikk{
    background-color: aqua;
    padding: 12px 25px;
    border-radius: 20px;
}

.label-statestikk{
    font-size: 1.8em;
    margin-bottom: 5px;
}

.value-statestikk{
    font-size: 1.8em;
    font-weight: bold ;
}

.game-board{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2, 2fr);
   gap: 35px;
   margin-bottom: 50px;
}

.game-board button{
    height: 70px;
}